:root{
  --bg1-l: #FFF;
  --fg1-l: #444;
  --fg2-l: #666;
  --bg2-l: #e5e5e5;
  --link-color-l: #0062cc; 
  --bg1-d: #222;
  --bg2-d: #333;
  --fg1-d: whitesmoke;
  --fg2-d: #b5b5b5;
  --link-color-d: #528dcc;
  --bg1: var(--bg1-l);
  --bg2: var(--bg2-l);
  --fg1: var(--fg1-l);
  --fg2: var(--fg2-l);
  --link-color: var(--link-color-l)
}

body {
  background-color: var(--bg1);
  color: var(--fg1);
  padding: 1.5em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" on;
	margin: auto;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 

main {
  max-width: 600px;
}

#sidebar {
  flex: 1 1 100px;
  padding-right: 1.5em;
}

td {
  vertical-align: top;
  padding-bottom: 8px;
}

ol {
  counter-reset: bib;
}

ol > li {
  list-style: none;
  position: relative;
  margin-bottom: 8px;
}

ol > li:before {
  counter-increment: bib;
  content: "[" counter(bib) "] ";
  position: absolute;
  left: -2em;
}

h1 {
  font-weight: normal;
  font-size: 1.2em;
  /* text-transform: uppercase; */
}

/* header h1 { */
/*   font-weight: normal; */
/*   font-size: 1.5em; */
/*   /1* line-height: 1em; *1/ */
/* } */

pre, kbd, code {
  font-family: monospace;
  background-color: var(--bg2);
  border-radius: 3px;
  overflow: auto;
}

pre {
  padding: 1em 1em;
}

pre code {
  padding: 0px;
}

blockquote {
    font-style: italic;
}

address {
  color: var(--fg2);
}

nav ul, footer ul {
  padding: 0px;
}

nav li {
  display: inline;
  padding: 0 1%;
}

hr {
    border: 0.5px solid var(--bg2);
    margin: 2em;
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:focus {
    text-shadow: 0px 0px 1px;
}

img {
  max-width: 100%;
}

header img {
  border-radius: 25%;
  height: 4em;
}

figcaption {
  font-style: italic;
}


/* @media (prefers-color-scheme: dark) { */
/*   :root{ */
/*     --bg1: var(--bg1-d); */
/*     --fg1: var(--fg1-d); */
/*     --bg2: var(--bg2-d); */
/*     --fg2: var(--fg2-d); */
/*     --link-color: var(--link-color-d); */
/* } */
