:root{
  --bg1-l: whitesmoke;
  --fg1-l: #444;
  --fg2-l: #666;
  --bg2-l: #e5e5e5;
  --link-color-l: #0062cc; 
  --bg1-d: #222;
  --bg2-d: #333;
  --fg1-d: whitesmoke;
  --fg2-d: #b5b5b5;
  --link-color-d: #528dcc;
  --bg1: var(--bg1-l);
  --bg2: var(--bg2-l);
  --fg1: var(--fg1-l);
  --fg2: var(--fg2-l);
  --link-color: var(--link-color-l)
}

body {
  /* font-family: monospace; */
  background-color: var(--bg1);
  color: var(--fg1);
  max-width: 80ch;
	margin: 4em auto;
  padding: 0 1.5em;
  line-height: 1.35em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" on;
} 

nav h1 {
  font-weight: normal;
  /* font-size: 2em; */
  /* line-height: 1em; */
}

h1 {
  margin-top: 32px;
  font-size:16px;
}

em {
    font-style: italic;
}
pre, kbd, code {
  background-color: var(--bg2);
  border-radius: 3px;
  /* padding: 0 3px; */
}

pre {
  padding: 0 1ch;
  /* overflow:scroll */
}

pre code {
  padding: 0px;
}

cite, q, blockquote {
    font-style: italic;
}

nav, footer, figcaption {
  text-align: center;
}

footer {
  color: var(--fg2);
}

nav ul, footer ul {
  padding: 0px;
}

nav li, footer li {
  display: inline-block;
  padding: 0 1%;
}

hr {
    border: 0.5px solid var(--bg2);
    margin: 2em;
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:focus {
    font-weight: bold;
}

img {
  max-width: 100%;
}

nav img {
  border-radius: 50%;
  max-width: 20%;
}

figcaption {
  font-style: italic;
}


@media (prefers-color-scheme: dark) {
  :root{
    --bg1: var(--bg1-d);
    --fg1: var(--fg1-d);
    --bg2: var(--bg2-d);
    --fg2: var(--fg2-d);
    --link-color: var(--link-color-d);
}
