:root{
  --bg1-l: #FFF;
  --bg2-l: #e5e5e5;
  --fg1-l: #444;
  --fg2-l: #666;
  --link-color-l: #0062cc; 
  --bg1-d: #000;
  --bg2-d: #333;
  --fg1-d: #bbb;
  --fg2-d: #b5b5b5;
  --link-color-d: #528dcc;
  --bg1: var(--bg1-l);
  --bg2: var(--bg2-l);
  --fg1: var(--fg1-l);
  --fg2: var(--fg2-l);
  --link-color: var(--link-color-l)
}

body {
  background-color: var(--bg1); 
  color: var(--fg1);
  padding: 0.5em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" on;
  hyphens: auto;
  line-height: 1.35;
  margin-top: 5%;
} 


@media (min-width: 1100px) {
  aside {
    float: right;
    margin-right: -120px;
    min-width: 100px;
    clear: both;
  }
}

header {
}

main {
  text-align: justify;
  max-width: 65ch;
	margin: auto;
}

td {
  vertical-align: top;
  padding-bottom: 0.5rem;
}

body {
  counter-reset: bib;
}

ol > li {
  list-style: none;
  position: relative;
  margin-bottom: 1.5rem;
  line-height: 1.45;
}

ol > li:before {
  counter-increment: bib;
  content: "[" counter(bib) "] ";
  position: absolute;
  left: -2rem;
}

table {
  border-spacing: 0.5rem 0;
}

h1, h2{
  font-weight: normal;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 0.95rem;
  margin-top: 4em;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
}

pre, kbd, code {
  font-family: monospace;
  background-color: var(--bg2);
  border-radius: 0.25rem;
  overflow: auto;
  padding: 1pt 2pt;
}

li small a {
  background-color: var(--fg1);
  color: var(--bg1);
  border-radius: 0.25rem;
  padding: 1pt 2pt;
}

details p {
  padding: 0.5rem;
  background-color: #f2f2f2;
  border-radius: 0.25rem;
}

pre {
  padding: 1em 1em;
}

pre code {
  padding: 0px;
}

blockquote {
    font-style: italic;
}

nav ul, footer ul {
  padding: 0px;
  hyphens: none;
}

nav li {
  display: inline;
  padding: 0.5rem;
  white-space: nowrap;
}

hr {
    border: 0.5px solid;
    margin: 2em;
}

a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent; 
}

a:hover, a:focus {
  /* font-weight: bold; */
}

img {
  max-width: 100%;
}

header img {
  border-radius: 50%;
  max-width: 100px;
}

footer img {
  width: 100px;
  image-rendering: pixelated;
}


figcaption, time {
  font-style: italic;
}


header, nav, footer, figure {
  text-align: center
}

@media (prefers-color-scheme: dark) {
  :root{
    --bg1: var(--bg1-d);
    --fg1: var(--fg1-d);
    --bg2: var(--bg2-d);
    --fg2: var(--fg2-d);
    --link-color: var(--link-color-d);
}
